@value highlight1,unselect,mainOrange from "../../../../common/color.css";

.displayNone {
  display: none;
}

.container {
  margin: 2.0833vw 0.7291vw 5.243vw 2.1875vw;
  min-height: 13.125vw;
}

.noPost {
  display: flex;
  height: 13.4895vw;
  justify-content: center;
  align-items: center;
  font-family: "Regular";
  font-size: 0.6944vw;
  color: highlight1;
  margin-right: calc(2.1875vw - 0.7291vw); /*컨테이너 마진 왼-오*/
}

.gridWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2.6388vw;
}

.post {
  margin-right: 1.4583vw;
  font-family: "Regular";
  font-size: 0.6944vw;
  cursor: pointer;
}

.postImgDay {
  position: relative;
}

.dDay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1388vw 0.5555vw 0.1388vw 0.5555vw;
  background-color: mainOrange;
  border-radius: 0.7638vw;
  color: white;
  font-family: "Bold";
  font-size: 0.6944vw;
  margin: 0.8333vw;
}

.postImg {
  width: 100%;
  height: 10.2083vw;
  margin-bottom: 0.625vw;
  border-radius: 1.6666vw;
  object-fit: cover;
}

.postTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 0.2083vw;
  word-wrap: brek-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.dealDate {
  display: flex;
  justify-content: space-between;
  padding-left: 0.4166vw;
  padding-right: 0.4166vw;
  color: unselect;
}

.dealDateMargin {
  margin-bottom: 0.1388vw;
}

/* 1920px 이상  */
@media (min-width: 1920px) {
  .container {
    margin: 40px 14px 100px 42px;
    min-height: 252px;
  }

  .noPost {
    font-size: 16px;
    height: 259px;
    margin-right: calc(42px - 14px); /*컨테이너 마진 왼-오*/
  }

  .gridWrapper {
    row-gap: 50px;
  }

  .post {
    margin-right: 28px;
    font-size: 14px;
  }

  .postImg {
    width: 100%;
    height: 196px;
    margin-bottom: 12px;
    border-radius: 32px;
  }

  .dealDate {
    padding-left: 8px;
    padding-right: 8px;
  }

  .dealDateMargin {
    margin-bottom: 2px;
  }

  .dDay {
    padding: 2px 10px 2px 10px;
    border-radius: 11px;
    font-size: 14px;
    margin: 16px;
  }
}
